@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

body {
  padding-top: 0px;
}
.hold-bottom {
  right:0;
  padding: 1em;
  position: fixed;
  bottom: 2em;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
}
#messages
  li {
    padding: 5px 10px;
  }
#messages
  li:nth-child(odd) {
  background: #eee;
}li:nth-child(even) {
  background: #e5e5e5;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0 23em 0 0; 
  li {
    padding: 0.5rem;
    overflow: scroll;
    display: flex;
  }
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
  }
}
  
}

